*.iml
.gradle
.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
/build
/CallKit
/CallLib
/IMKit
/IMLib
/RedPacket
app/src/main/java/com/exam/admin/rongyundemo/bean/
app/src/main/res/attrs/
app/src/main/res/mipmap-xhdpi/
