*.iml
.gradle
.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
/build
CallKit/build/generated/assets/
CallKit/build/generated/res/
CallKit/build/generated/source/aidl/
CallKit/build/generated/source/rs/
CallKit/build/intermediates/bundles/debug/aidl/
CallKit/build/intermediates/bundles/debug/assets/
CallKit/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
CallKit/build/intermediates/incremental/packageDebugAndroidTest/
CallKit/build/intermediates/incremental/processDebugAndroidTestResources/
CallKit/build/intermediates/incremental/processDebugResources/
CallKit/build/intermediates/lint/
CallKit/build/intermediates/manifest/tmp/
CallKit/build/intermediates/rs/
CallKit/build/intermediates/shaders/
CallLib/build/generated/assets/
CallLib/build/generated/res/
CallLib/build/generated/source/aidl/
CallLib/build/generated/source/r/debug/
CallLib/build/generated/source/rs/
CallLib/build/intermediates/blame/
CallLib/build/intermediates/bundles/debug/aidl/
CallLib/build/intermediates/bundles/debug/assets/
CallLib/build/intermediates/bundles/debug/res/
CallLib/build/intermediates/bundles/default/aidl/
CallLib/build/intermediates/bundles/default/assets/
CallLib/build/intermediates/bundles/default/res/
CallLib/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
CallLib/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
CallLib/build/intermediates/incremental/packageDebugAndroidTest/
CallLib/build/intermediates/incremental/packageDebugResources/merged.dir/
CallLib/build/intermediates/incremental/packageReleaseResources/merged.dir/
CallLib/build/intermediates/incremental/processDebugAndroidTestResources/
CallLib/build/intermediates/incremental/processDebugResources/
CallLib/build/intermediates/lint/
CallLib/build/intermediates/manifest/tmp/
CallLib/build/intermediates/res/merged/
CallLib/build/intermediates/rs/
CallLib/build/intermediates/shaders/
CallLib/build/intermediates/symbols/
IMKit/build/generated/assets/
IMKit/build/generated/res/
IMKit/build/generated/source/aidl/
IMKit/build/generated/source/apt/
IMKit/build/generated/source/rs/
IMKit/build/intermediates/annotations/
IMKit/build/intermediates/bundles/debug/aidl/
IMKit/build/intermediates/bundles/debug/assets/
IMKit/build/intermediates/bundles/default/aidl/
IMKit/build/intermediates/bundles/default/assets/
IMKit/build/intermediates/bundles/default/jni/
IMKit/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
IMKit/build/intermediates/incremental/packageDebugAndroidTest/
IMKit/build/intermediates/incremental/processDebugAndroidTestResources/
IMKit/build/intermediates/incremental/processDebugResources/
IMKit/build/intermediates/incremental/processReleaseResources/
IMKit/build/intermediates/lint/
IMKit/build/intermediates/manifest/tmp/
IMKit/build/intermediates/rs/
IMKit/build/intermediates/shaders/
IMKit/build/intermediates/transforms/mergeJavaRes/
IMKit/build/intermediates/transforms/mergeJniLibs/
IMKit/build/tmp/
IMLib/build/generated/assets/
IMLib/build/generated/res/
IMLib/build/generated/source/aidl/
IMLib/build/generated/source/apt/
IMLib/build/generated/source/rs/
IMLib/build/intermediates/bundles/debug/aidl/
IMLib/build/intermediates/bundles/debug/assets/
Would remov
e IMLib/build/intermediates/bundles/default/aidl/
IMLib/build/intermediates/bundles/default/assets/
IMLib/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
IMLib/build/intermediates/incremental/packageDebugAndroidTest/
IMLib/build/intermediates/incremental/processDebugAndroidTestResources/
IMLib/build/intermediates/incremental/processDebugResources/
IMLib/build/intermediates/incremental/processReleaseResources/
IMLib/build/intermediates/lint/
IMLib/build/intermediates/manifest/tmp/
IMLib/build/intermediates/rs/
IMLib/build/intermediates/shaders/
IMLib/build/intermediates/transforms/mergeJavaRes/
IMLib/build/tmp/
RedPacket/build/generated/assets/
RedPacket/build/generated/res/
RedPacket/build/generated/source/aidl/
RedPacket/build/generated/source/rs/
RedPacket/build/intermediates/bundles/debug/aidl/
RedPacket/build/intermediates/bundles/debug/assets/
RedPacket/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
RedPacket/build/intermediates/incremental/packageDebugAndroidTest/
RedPacket/build/intermediates/incremental/processDebugAndroidTestResources/
RedPacket/build/intermediates/incremental/processDebugResources/
RedPacket/build/intermediates/lint/
RedPacket/build/intermediates/manifest/tmp/
RedPacket/build/intermediates/rs/
RedPacket/build/intermediates/shaders/
app/src/main/java/com/exam/admin/rongyundemo/bean/
app/src/main/res/mipmap-xhdpi/
