<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exam.admin.rongyundemo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/seal_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/seal_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="高德地图的 AppKey" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.exam.admin.rongyundemo.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>

        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.LoginActivity" />

        <!-- 会话列表 -->
        <activity
            android:name=".session.ConversationListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.exam.admin.rongyundemo"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <!-- 聚合会话列表 -->
        <activity
            android:name=".session.SubConversationListActivtiy"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.exam.admin.rongyundemo"
                    android:pathPrefix="/subconversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <!-- 会话界面 -->
        <activity
            android:name=".session.ConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.exam.admin.rongyundemo"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/NoTitle_FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegisterActivity" />
        <!--<activity-->
        <!--android:name=".activity.DetailsActivity"-->
        <!--android:theme="@style/TransitionTheme" />-->
        <activity
            android:name=".activity.webview.WebViewActivity"
            android:screenOrientation="portrait" />
        <!--<activity-->
        <!--android:name=".activity.CircleFriendsActivity"-->
        <!--android:theme="@style/TransitionTheme" />-->
        <!--<activity-->
        <!--android:name=".activity.CardActivity"-->
        <!--android:theme="@style/TransitionTheme" />-->
        <activity android:name=".activity.MultiImageActivity" />
    </application>

</manifest>